@model WhatToDoInIceland.Web.Common.Models.VenueModel

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<form id="editVenue" method="post" role="form" action="@Url.Action("Edit", "Venues")">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit</h4>
    </div>

    <div class="modal-body">

        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.HiddenFor(model => model.VenueId)
            @Html.LabelFor(model => model.VenueKey, new { @class = "control-label" }) *
            @Html.TextBoxFor(model => model.VenueKey, new { @class = "form-control", @placeholder = "Enter venue key" })
            @Html.ValidationMessageFor(model => model.VenueKey, string.Empty, new { @class = "help-block" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VenueName, new { @class = "control-label" }) *
            @Html.TextBoxFor(model => model.VenueName, new { @class = "form-control", @placeholder = "Enter venue name" })
            @Html.ValidationMessageFor(model => model.VenueName, string.Empty, new { @class = "help-block" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, new { @class = "control-label" }) *
            @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control", @placeholder = "Enter venue latitude" })
            @Html.ValidationMessageFor(model => model.Latitude, string.Empty, new { @class = "help-block" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, new { @class = "control-label" }) *
            @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control", @placeholder = "Enter venue longitude" })
            @Html.ValidationMessageFor(model => model.Longitude, string.Empty, new { @class = "help-block" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label" }) *
            @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @placeholder = "Enter venue location" })
            @Html.ValidationMessageFor(model => model.Location, string.Empty, new { @class = "help-block" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
        <button type="submit" class="btn btn-primary" value="Create" id="btnUpdateVenue">Save changes</button>
    </div>
</form>