@model Collection<VenueModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>

    @foreach (VenueModel venue in Model)
    {
        <tr>
            <td>@venue.VenueId</td>
            <td>@venue.VenueName</td>
            <td>@venue.Latitude</td>
            <td>@venue.Longitude</td>
            <td>@venue.Location</td>
        </tr>
    }
</table>
