@using System.Collections.Generic

@model ICollection<WhatToDoInIceland.Web.Common.Models.VenueModel>

@{
    ViewBag.Title = "Index";
}

<h2>Venues</h2>

<p>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#venueModal" data-remote="/Venues/Create">Create new</button>
</p>

<table class="table table-striped table-hover table-condensed">
    <tr>
        <th>Venue Key</th>
        <th>VenueId</th>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Location</th>
        <th />
    </tr>

    @foreach (WhatToDoInIceland.Web.Common.Models.VenueModel venue in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => venue.VenueKey)</td>
            <td>@Html.DisplayFor(modelItem => venue.VenueId)</td>
            <td>@Html.DisplayFor(modelItem => venue.VenueName)</td>
            <td>@Html.DisplayFor(modelItem => venue.Latitude)</td>
            <td>@Html.DisplayFor(modelItem => venue.Longitude)</td>
            <td>@Html.DisplayFor(modelItem => venue.Location)</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-target="#venueModal" data-toggle="modal" data-remote="@this.Url.Action("Edit", "Venues", new { venueId = venue.VenueId })">Edit</a></li>
                        <li><a href="#" data-target="#venueModal" data-toggle="modal" data-remote="@this.Url.Action("Delete", "Venues", new { venueId = venue.VenueId })">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>

<div class="modal fade" id="venueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>